# Default server configuration
#
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/lets_encrypt;

    server_name {{ssl_cn}};
    location / {
        allow all;
    }
}

# vim: ft=nginx tabstop=4 shiftwidth=4 expandtab :
